/*
#8c8c86
#53544c
#472d30
#72544d
#191517
#b4937b
*/


/* Bootstrap */

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("http://www.w3schools.com/lib/w3.css");

/* Bootstrap */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: wheat;
    /* overflow: hidden; */
}

body {
    display: flex;
    flex-direction: column;
}

.presentation {
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.presentation img {
    border-radius: 100%;
}

.presentation div:nth-child(:first-child) {
    display: flex;
    flex-direction: column;
}

.presentation p {
    margin: 1%;
}

.portfolio {
    background-color: #191517;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}

.portfolio div {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.portfolio div {
    width: 25%;
    height: 75%;
}

.portfolio p {
    margin: 2%;
}

.blog {
    background-color: #292929;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}

.blog div {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}

.blog div {
    width: 25%;
    height: 75%;
}

.blog p {
    margin: 2%;
    color: #D3D3D3;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: gray;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
    height: 8vh;
}

footer a {
    text-decoration: none;
    color: wheat;
}