* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
    width: 100vw;
    height: 7vh;
    position: fixed;
}

a {
    margin-top: 1vh;
    text-decoration: none;
    color: wheat;
    font-size: 25px;
}

#presentation {
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentation div {
    display: flex;
    flex-direction: row;
}

button {
    width: 5vw;
    height: 5vh;
}

#portfolio {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: teal;
    justify-content: center;
}

#portfolio div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}